@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

:root {
  --wa: 38 92% 50%;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
  /* background-color: #f5b038; */
}

/* width */
.myScroll::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.infinite-scroll-component::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

/* Track */
.myScroll::-webkit-scrollbar-track,
.infinite-scroll-component::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

/* Handle */
.myScroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.6rem;
}

.customLine::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
}

.customCircle::first-letter {
  color: #f59e0b;
}

.customCircle::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    rgba(246, 184, 70, 0.4) 0%,
    rgba(246, 184, 70, 0.01) 100%
  );
}

.borderRight::before {
  background: radial-gradient(
    ellipse at right,
    rgba(197, 202, 213, 0.15) 0,
    rgba(255, 255, 255, 0) 70%
  );
}

.lineLeft {
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0,
    rgba(255, 255, 255, 0) 70%
  );
}

.vCustomLine::before {
  content: "";
  position: absolute;
  width: 0.11rem;
  height: 100%;
  /* right: 0; */
  top: 0;
  background: radial-gradient(
    ellipse at top,
    rgba(197, 202, 213, 0.15) 0,
    rgba(255, 255, 255, 0) 70%
  );
}

.borderLeft::before {
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0,
    rgba(255, 255, 255, 0) 70%
  );
}

.profile::after {
  content: "";
  position: absolute;
  left: -1.5rem;
  top: -1.2rem;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  z-index: -1;
  background: linear-gradient(
    135deg,
    rgba(133, 87, 2, 0.4) 0%,
    rgba(246, 184, 70, 0.01) 100%
  );
}

.overlay {
  background: linear-gradient(
    135deg,
    rgba(133, 87, 2, 0.4) 0%,
    rgba(246, 184, 70, 0.01) 100%
  );
}

.myShadow {
  box-shadow: 3px 0 20px -2px rgba(0, 0, 0, 0.3);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination .swiper-pagination-bullet {
  background: transparent !important;
  border: 0.1rem solid #f59e0b;
  width: 0.9rem;
  height: 0.9rem;
  margin: 0 0.3rem !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #f59e0b !important;
}

.bgSlider .swiper-fade .swiper-slide img {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1) translateY(2rem);
  transition: 1400ms ease !important;
}

.bgSlider .swiper-fade .swiper-slide.swiper-slide-active img {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(0);
  transition: 1400ms ease !important;
}

.profilePic::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    rgba(246, 184, 70, 0.4) 0%,
    rgba(246, 184, 70, 0.01) 100%
  );
}

.quote::before,
.quote::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: rgb(107 114 128);
  -webkit-mask-size: contain;
  mask-size: contain;
  opacity: 0.65;
}

.quote::after {
  bottom: 0;
  right: 0;
  -webkit-mask-image: url("/images/quoteRight.svg");
  mask-image: url("/images/quoteRight.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.quote::before {
  top: 0;
  left: 0;
  -webkit-mask-image: url("/images/quoteLeft.svg");
  mask-image: url("/images/quoteLeft.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.work::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(246, 184, 70, 0.4) 0%,
    rgba(246, 184, 70, 0.01) 100%
  );
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease;
}

.work-wrapper:hover .work::before {
  opacity: 1;
  /* color: #d1d5db; */
}

.tech-func ul li::before,
.prose ul li::before {
  content: "\2022";
  color: #f59e0b;
  font-weight: bold;
  display: inline-block;
  width: 1.8rem;
  min-width: 1.8rem;
}

.loader span:first-child {
  animation: bubble 0.9s linear infinite alternate forwards;
}

.loader span:last-child {
  animation: bubbleReverse 0.9s linear infinite alternate forwards;
}

@keyframes bubble {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes bubbleReverse {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.1);
  }
}
